[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]

numpy = "*"
pandas = "*"
ipython = "*"
scipy = "*"
matplotlib = "==2.1.0rc1"


[requires]
python_version = "3.6"